.bot {
    color: rgb(10, 4, 110); /* Change this to the desired text color */
}

body {
    background-color: #d0d0d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.chat-container {
    text-align: center;

}

.h1 {
    text-align: center;
}

